@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

:root {
    font-family: 'M PLUS Rounded 2c', sans-serif; 
    font-weight: bold;
}

body {
    max-width: 980px;
    margin: auto;
}

#mainLogo {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 90px
}

header h1 {
    font-size: 25px;
    margin-left: 30px;
}

header h1:first-letter {
    display: flex;
    align-items: center;
    font-size: 150%;
}

.green-logo-letters{
    color: #72BB53;
    letter-spacing: -5px;
}

header nav {
    flex: 1;
}

header nav ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    height: 100%;
    margin: 0
}

header nav ul li {
    list-style-type: none;
    margin-right: 0px;
    min-width: 130px;
    text-align: center;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: none;
    background-color: #72BB53;
    border: none;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white 
}

.myslides {
    width: 100%;
}

.green-background{
    display: grid;
    grid-template-columns: 35px repeat(4, auto) 35px;;
    background-color: #72BB53;
    margin-top: 80px;
}

h2{
    color: white;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.green-background p{
    color: white;
    font-size: 15px;
    width: 135px;
    text-align: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


.group_1{
    grid-column-start: 2;
    grid-template-rows: 80px 45px 40px 80px;
    display: grid;
}

.group_1:hover{
    cursor: pointer;
    background-color: #88bd72;
}

.group_2{
    grid-column-start: 3;
    grid-template-rows: 80px 45px 40px 80px;
    display: grid;
}

.group_2:hover{
    cursor: pointer;
    background-color: #88bd72;
}

.group_3{
    grid-column-start: 4;
    grid-template-rows: 80px 45px 40px 80px;
    display: grid;
}

.group_3:hover{
    cursor: pointer;
    background-color: #88bd72;
}

.group_4{
    grid-column-start: 5;
    grid-template-rows: 80px 45px 40px 80px;
    display: grid;
}

.group_4:hover{
    cursor: pointer;
    background-color: #88bd72;
}


.green-background a{
    grid-row-start: -1;
    text-decoration: none;
}

.plasing_img_1{
    margin: auto;
    margin-bottom: 0;
}

.plasing_img_2{
    margin: auto;
}

@media (max-width: 600px){
    .green-background{
        display: list-item;
        margin-top: 50px;
    }
    
    .green-background p{
        width: auto;
        height: 25px;
    }
    
    .group_1{
        grid-template-rows: 80px 45px 15px 50px;
    }
    
    .group_2{
        grid-template-rows: 80px 45px 15px 50px;
    }
    
    .group_3{
        grid-template-rows: 80px 45px 15px 50px;
    }
    
    .group_4{
        grid-template-rows: 80px 45px 15px 50px;
    }
    
    main section form {
        display: grid;
    }
    
    .frame_1 {
        max-width: 300px;
    }
    
    .frame_2 {
        max-width: 300px;
    }
    
    .frame_3 {
        max-width: 300px;
    }
}

@media (max-width: 680px){
    header nav ul li a:hover{
        padding: unset;
        margin: unset;
    }
    
    header nav ul{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
    }
}







.all_competition{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

@media (max-width: 800px){
    .all_competition{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 250px auto;
    }
    .competition{
        margin-top: 50px;
        width: 360px;
    }
}

@media (max-width: 550px){
    .all_competition{
        display: grid;
        grid-template-columns: auto;
        margin-top: 0px
    }
}

.competition{
    background-color: #72BB53;
    max-height: 346px;
    width: 260px;
    position: relative;
}

.competition:hover{
    opacity: 0.7;
}


.competition a{
    text-decoration: none;
    color: white;
}

.front_logo{
    position: absolute;
    top: 8px;
    left: 8px;
}

.position_info {
    margin-left: 20px;
}

main section h3 {
    text-align: center;
    margin-top: 80px;
}

.green-counter {
    color: #72BB53;
    font-size: 150%;
}

.display {
    border: none;
    color: #72BB53;
    font-size: 30px;
    width: 3%;
    font-weight: bold;
}

main section form {
    display: grid;
    justify-content: center;
}

.label_style{
    color: #7A7A7A;
    display: grid;
}

.frame_1{
    border-color: #72BB53;
    height: 30px;
    width: 500px;
    font-size: 18px;
}

.frame_2{
    border-color: #72BB53;
    height: 30px;
    width: 500px;
    font-size: 18px;
}

.frame_3{
    border-color: #72BB53;
    height: 30px;
    width: 500px;
    font-size: 18px;
}

.counting-registrations {
    background-color: #72BB53;
    color: white;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
}


.links {
    display: flex;
    background-color: #72BB53;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 20px;
}